<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tests.SampleTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifylanguageSelector</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGlobalNavunfolding</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyLiteraturePage</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHeroImagenavigation</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCategoryPageTemplate</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPTemplate_HippoBrazil</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPDisplayPage</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHerocarousel</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNoResultsPage</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPriceUpdate</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>UberCategoryPage</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SkuUpdate</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyProductCategorySortingFilter</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHomePageLayout_HippoBrazil</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFooterLayout</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyQuickView</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchResultsPage</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>hippoLatinAmerica_HomePageLayout</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCADSymbolsPage</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTypeAheadSpanishAndEN</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyQuickview</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDP_Sku</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPDPDisplays</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyUtilitybar</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyworldwideBanner</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscontinuedSkuLAAndMexico</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHeroImage_Carousel</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyAccessContactUsPage</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyglobalNavUnfolding</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPTemplate_HippoLatamx</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify_SearchResultsPage</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFooter_HippoAfrica</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDP_NoResults</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyplaceandenquiry</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCompareModal</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCareAndCleaningpage</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyLiteratureFromBathroomAndFooter</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHomePageLayout_HippoAfrica</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHighlightsPage</td>
<td>HippoAfrica </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyUberCategory</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWorldWideBanner</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCompareFeature</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFilter</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verifyfooterlayout</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCategoryPageTemplates</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWorldWideBanner_hippoIndia</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySKUUpdate</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifycontactuspage</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyStoreLocatorDisplay</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyHeroImage</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySorting</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUnfoldingAnimation</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyliteraturepage</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySort</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCareandCleaningPage</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNoResultPage</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifHeroCarousel</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFooter</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHeroImage_Navigation</td>
<td>HippoBrazil </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCategoryPage</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyContactUs</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHomePageLayout</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyQuickViewOfAProduct</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifycomparefeature</td>
<td>HippoIndia </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWheretoBuy</td>
<td>HippoLatamx </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
