<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>HippoBrazil</td><td>SampleTest.VerifyCompareFeature()[pri:0, instance:com.tests.SampleTest@77cd7a0]<br/></td></tr>
</table>
