<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>somename</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa0ac">  <td>19/01/03 10:18:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest@77cd7a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>19/01/03 10:18:35</td>   <td>9467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.VerifyCompareFeature()[pri:0, instance:com.tests.SampleTest@77cd7a0]">VerifyCompareFeature</td> 
  <td>main@1414521932</td>   <td></td> </tr>
</table>
