<h2>Methods that were not run</h2><table>
<tr><td>com.tests.SampleTest.verifyCategoryPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify category productGrid</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHomePageLayout<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyHomePageLayout</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHeroImage_Navigation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying hero image Navigation</i></td></tr>
<tr><td>com.tests.SampleTest.verifyContactUs<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Contact Us page </i></td></tr>
<tr><td>com.tests.SampleTest.verifycomparefeature<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Compare Feature</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyWheretoBuy<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify Where To Buy link</i></td></tr>
<tr><td>com.tests.SampleTest.verifyliteraturepage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify literature page</i></td></tr>
<tr><td>com.tests.SampleTest.verifyQuickViewOfAProduct<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Quickview works properly</i></td></tr>
<tr><td>com.tests.SampleTest.verifyHeroImage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Hero Image</i></td></tr>
<tr><td>com.tests.SampleTest.verifySKUUpdate<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify different color chips and sku update</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySorting<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifySorting</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyStoreLocatorDisplay<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyStoreLocatorDisplay</i></td></tr>
<tr><td>com.tests.SampleTest.verifycontactuspage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify correct display of contact us page</i></td></tr>
<tr><td>com.tests.SampleTest.verifyUnfoldingAnimation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify global nav unfolding animation</i></td></tr>
<tr><td>com.tests.SampleTest.VerifHeroCarousel<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify Hero Carousel</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyNoResultPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyNoResultPage</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCareandCleaningPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyCareandCleaningPage</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFooter<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify Footer Layout</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySort<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying sorting works properly</i></td></tr>
<tr><td>com.tests.SampleTest.Verifyfooterlayout<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying footer layout</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCategoryPageTemplates<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyCategoryPageTemplates</i></td></tr>
<tr><td>com.tests.SampleTest.verifyWorldWideBanner<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify World wide Banner</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPTemplate_HippoLatamx<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify PDP Template</i></td></tr>
<tr><td>com.tests.SampleTest.verifyWorldWideBanner_hippoIndia<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify World Wide Banner</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDP_NoResults<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying no results page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFilter<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying filters work properly</i></td></tr>
<tr><td>com.tests.SampleTest.verifyplaceandenquiry<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify place an enquiry page</i></td></tr>
<tr><td>com.tests.SampleTest.Verify_SearchResultsPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying no results page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyUberCategory<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify Uber Category page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFooter_HippoAfrica<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Footer and access of each link under Footer</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHighlightsPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Highlights page</i></td></tr>
<tr><td>com.tests.SampleTest.verifyglobalNavUnfolding<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Global Navigation unfolding navigation</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCareAndCleaningpage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying Care And Cleaning page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCompareModal<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify Compare Feature</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHomePageLayout_HippoAfrica<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i> Verify general layout of Africa Home Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyLiteratureFromBathroomAndFooter<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify Literature From Footer and Bathroom</i></td></tr>
<tr><td>com.tests.SampleTest.verifyPDPDisplays<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Product Description Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyworldwideBanner<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying worldwide banner</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscontinuedSkuLAAndMexico<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify Discontinued SKU In LA </i></td></tr>
<tr><td>com.tests.SampleTest.VerifyAccessContactUsPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i> Verify Contact Us page can be accessed via footer,global nav</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDP_Sku<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying PDP displays when SKU# is entered</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyUtilitybar<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify display of Where to Buy & our brands</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHeroImage_Carousel<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying hero image/carousel</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyQuickView<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying Quickview works properly</i></td></tr>
<tr><td>com.tests.SampleTest.verifySearchResultsPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify search results page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHomePageLayout_HippoBrazil<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying general layout of homepage</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFooterLayout<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyFooterLayout</i></td></tr>
<tr><td>com.tests.SampleTest.hippoLatinAmerica_HomePageLayout<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify HomePage layout</i></td></tr>
<tr><td>com.tests.SampleTest.Verify_SkuUpdate<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying SKU update</i></td></tr>
<tr><td>com.tests.SampleTest.verifyProductCategorySortingFilter<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify product category sorting filter</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyQuickview<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyQuickview</i></td></tr>
<tr><td>com.tests.SampleTest.verifyCADSymbolsPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify CAD symbols page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyTypeAheadSpanishAndEN<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify TypeAhead Spanish and English</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHerocarousel<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Hero Carousel</i></td></tr>
<tr><td>com.tests.SampleTest.UberCategoryPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>UberCategoryPage</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyLiteraturePage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Literature page</i></td></tr>
<tr><td>com.tests.SampleTest.verifyNoResultsPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify No results page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPriceUpdate<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyPriceUpdate</i></td></tr>
<tr><td>com.tests.SampleTest.verifylanguageSelector<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify language selector</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPDisplayPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>VerifyPDPDisplayPage</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGlobalNavunfolding<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying global nav unfolding animation</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCategoryPageTemplate<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying category page templates</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPTemplate_HippoBrazil<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying PDP template works properly</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHeroImagenavigation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Hero Carousel</i></td></tr>
</table>