<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>18/12/27 17:21:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest@39c0f4a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>18/12/27 17:22:09</td>   <td>13580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.VerifyDiscontinuedSkuLAAndMexico()[pri:0, instance:com.tests.SampleTest@39c0f4a]">VerifyDiscontinuedSkuLAAndMexico</td> 
  <td>main@1164371389</td>   <td></td> </tr>
</table>
