[10:41:30] : <b><FONT SIZE="2">Portable Page loaded</FONT></b><br>[10:41:30] : <b><FONT SIZE="2">Verifying custom kits Page</FONT></b><br><br><a href=..\Test/build/test-output/archive1/com.tests.SampleTest.VerifyCustomKitPage.ogg >Video</a>