[10:51:58] : <b><FONT SIZE="2">Portable Page loaded</FONT></b><br>[10:51:58] : <b><FONT SIZE="2">Verifying Job site Page</FONT></b><br>[10:52:03] : <b><FONT SIZE="2">Verifying Generator Page</FONT></b><br>[10:52:12] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:enCUBE1.8</FONT></b><br>[10:52:12] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $1,094.94*</FONT></b><br>[10:52:12] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
1.8 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
1.4 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Solar</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:GEN 5.0</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $629.00*</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
5 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
4.3 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:PRO5.2E</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $1,293.00*</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
5.2 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
4.5 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:PRO6.4</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $1,256.90*</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
6.4 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
5.2 kW</FONT></b><br>[10:52:13] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:PRO6.4E</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $1,478.10*</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
6.4 kW</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
5.2 kW</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:PRO7.5E</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $1,403.00*</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
7.5 kW</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
6.3 kW</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:PRO9.0</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $1,442.50*</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
9 kW</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
7.2 kW</FONT></b><br>[10:52:14] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:PRO9.0E</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $1,663.70*</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
9 kW</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
7.2 kW</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying Product Title in Product category Page:PRO12.3EFI</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying Product Price in Product category Page:MSRP $5,530.00*</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying image_Product is available in Product category Page:true</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying MaxPower is available in Product category Page:Max Power
12.3 kW</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying ContinuousPower is available in Product category Page:Continuous Power
10.5 kW</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying FuelType is available in Product category Page:Fuel Type
Gas</FONT></b><br>[10:52:15] : <b><FONT SIZE="2">Verifying Find a dealer link and click on it</FONT></b><br>[10:52:22] : <b><FONT SIZE="2">Verifying that page is navigated to repsective page</FONT></b><br>[10:52:22] : <b><FONT SIZE="2">Verifying that user is navigated to generator page again</FONT></b><br>[10:52:24] : <b><FONT SIZE="2">Verifying Page title in generator page</FONT></b><br>[10:52:24] : <b><FONT SIZE="2">Verifying More details link and click on it</FONT></b><br>[10:52:29] : <b><FONT SIZE="2">Verifying that page is navigated to repsective page</FONT></b><br>[10:52:29] : <b><FONT SIZE="2">Verifying that user is navigated to generator page again</FONT></b><br>[10:52:31] : <b><FONT SIZE="2">Verifying that page is navigated to repsective page</FONT></b><br><br><a href=..\Test/build/test-output/archive1/com.tests.SampleTest.VerifyProductModules.ogg >Video</a>